<h2>Imprint</h2>


<p>
This website has been developed by <a href="http://www.sfbtr8.uni-bremen.de/"><img src="http://digitaltravelmate.net/images/sfb_tr8_logo.gif" /></a>
and <a href="http://www.informatik.uni-bremen.de/dfki-sks/" /><img src="http://www.informatik.uni-bremen.de/dfki-sks/images/dfkilogo-sks.png" /></a>.

<p>
The software is based on the <a href="http://wiki.openstreetmap.org/wiki/The_Rails_Port">OpenStreetMap rails port</a>.
Map Data: <a href="http://creativecommons.org/licenses/by-sa/2.0/">cc-by-sa</a>
    <a href="http://www.openstreetmap.org">OpenStreetMap</a>

<p>
Papers on
<a href="http://www.informatik.uni-bremen.de/agbkb/publikationen/bibsearch/detail_e.htm?pk_int=2823">DO-ROAM</a> and
on the <a href="http://www.informatik.uni-bremen.de/agbkb/publikationen/bibsearch/detail_e.htm?pk_int=2850">route planning system</a> are available.


<p>
Contact: <a href="mailto:T&#105&#108l&#46&#77o&#115s&#97k&#111&#119&#115&#107i&#64&#100&#102&#107i&#46d&#101">Till Mossakowski</a>

